numpy 
cv2
keras_ocr
tensorflow
astroid
blinker
click
config
dill
Flask
Flask-Login
Flask-SQLAlchemy
greenlet
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
mysql
mysqlclient
platformdirs
pylint
PyMySQL
python-dotenv
SQLAlchemy
tomlkit
typing_extensions
Werkzeug
wrapt