a {
    all: unset;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root {
    --color-primary: #3792CB;
    --color-danger-light: #F69697;
    --color-danger-dark: #FF2C2C;
    --color-success: #B3CF99;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: rgb(241, 241, 241);
    --color-disabled: #ccccc4;

    --box-shadow: rgba(0, 0, 0, 0.05) 5px 0px 15px, rgba(0, 0, 0, 0.03) 4px 0px 6px;

    --font-family: 'Poppins', sans-serif;

    --border-radius: 8px;
}

.darkmode {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --color-disabled: #767676;
}

*,
::before,
::after {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.hidden {
    display: none !important;
}

.divider {
    width: 90%;
    height: 1px;
    background-color: var(--color-light);
}

.page-divider {
    width: 90%;
    height: 2px;
    background-color: var(--color-light);
}

html,
body {
    display: flex;
    width: 100% !important;
    height: 100% !important;
    background-color: var(--color-background);
}

body {
    flex-direction: row;
    padding: 10px 50px;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: var(--color-background);
    padding-left: 50px;
    padding-top: 60px;
    gap: 24px;
}

.page-header {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.input-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    gap: 8px;
}

.picture-input-label {
    display: flex;
    width: 100%;
    height: 100px;
    border-radius: var(--border-radius);
    border: 4px dashed var(--color-light);
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.input-text-colored {
    color: var(--color-primary)
}

.text-input {
    width: 100%;
    resize: none;
}

.navbar-wrapper {
    display: flex;
    width: 350px;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    border: 2px solid var(--color-light);
    align-items: center;
    padding: 12px 10px;
    gap: 8px;
}

.navbar-element {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 0 10px;
    transition-duration: 0.2s;
    transition-property: background-color;
    cursor: pointer;
}

.navbar-element:hover {
    background-color: var(--color-light);
}

.navbar-logout-element-text {
    color: var(--color-danger-dark) !important;
}

.page-content-element-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90%;
}
.page-content-element-create, .page-content-element-session {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
    border-radius: var(--border-radius);
    border: 2px dashed var(--color-info-dark);
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: border;
    margin: 10px;
}

.page-content-element-session {
    border: 2px solid var(--color-info-dark);
}

.page-content-element-create:hover {
    border: 2px dashed var(--color-dark);
}

.page-content-element-create:hover>.create-plus,
.page-content-element-create:hover>.create-text {
    color: var(--color-dark) !important;
}

.create-plus {
    font-size: 50px;
    color: var(--color-dark-variant);
    transition-duration: 0.2s;
    transition-property: color;
    user-select: none;
}

.create-text {
    font-size: 16px;
    color: var(--color-dark-variant);
    transition-duration: 0.2s;
    transition-property: color;
    user-select: none;
}

button {
    cursor: point;
    width: 200px;
    height: 40px;
    color: var(--color-dark);
    background: var(--color-white);
    border: 1px solid black;
    border-radius: var(--border-radius);
    margin: 5px;
    font-size: 1.2rem;
}

buttons {
    display: flex;
    width: 90%;
}

button:hover {
    background-color: var(--color-light);
}

.page-content-card {
    display: flex;
    width: 90%;
    flex-direction: row;
}

.page-content-card-front, .page-content-card-back {
    border: 2px solid var(--color-light);
    outline: 0;
    border-radius: var(--border-radius);
    resize: none;
    padding: 10px;
    transition-property: border;
    transition-duration: 0.2s;
    margin-left: 5px;
    margin-right: 5px;
    width: 50%;
    min-height: 150px;
    text-align: left;
    overflow: auto;
    box-shadow: 5px 5px 5px var(--color-light);
}

.trash-lid, .trash-container {
    background-color: var(--color-dark);
}

.icon-trash {
    width: 25px;
    height: 25px;
    position: relative;
    overflow: hidden;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.icon-trash .trash-lid {
  width: 62%;
  height: 10%;
  position: absolute;
  left: 50%;
  margin-left: -31%;
  top: 10.5%;
  border-top-left-radius: 80%;
  border-top-right-radius: 80%;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg); 
}

.icon-trash .trash-lid:after {
  content: "";
  width: 26%;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -13%;
  margin-top: -10%;
  background-color: inherit;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg); 
}

.icon-trash .trash-container {
  width: 56%;
  height: 65%;
  position: absolute;
  left: 50%;
  margin-left: -28%;
  bottom: 10%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.icon-trash:hover {
    background-color: var(--color-light);
}
