<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <link rel="stylesheet" href="{{ url_for('homepage_bp.static', filename='styles/homepage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap" rel="stylesheet">
    <script src="{{ url_for('homepage_bp.static', filename='js/homepage.js')}}"></script>
</head>

<body>
    <div class="header">
        <img src="{{ url_for('homepage_bp.static', filename='img/logo.png')}}" alt="Logo">
        <div class="buttonsup">
            <button class="login" onclick='redirect_login()'>Log In</button>
            <button class="register" onclick='redirect_signup()'>Register</button>
        </div>
    </div>
    <div class="question">
        <h1>What is Deck Builder?</h1>
    </div>
    <div class="description">
        <p>Deck Builder is a brand-new platform that uses the power of AI
            to generate flashcards for learning. All it needs is some text. Working with an analog
            source? Upload a photo and let the OCR do its work. Your flashcards will be quickly ready for usage.</p>
        <p class="hoverinfo"><b>Hover your mouse over the images for more info!</b></p>
    </div>
    <div class="container">
        <div class="image-container">
            <div class="image-text-wrapper">
                <img src="{{ url_for('homepage_bp.static', filename='img/ph1.png')}}" alt="Image 1">
                <div class="textbox">
                    <div class="text">Upload an image or some text. You can edit it before letting the GPT-3.5-turbo
                        model analyze it.
                    </div>
                </div>
            </div>
            <div class="image-text-wrapper">
                <img src="{{ url_for('homepage_bp.static', filename='img/ph2.png')}}" alt="Image 2">
                <div class="textbox">
                    <div class="text">Our editor allows you to visualize your flashcards, edit or erase them. You'll
                        be able to save them in your account as well.
                    </div>
                </div>
            </div>
            <div class="image-text-wrapper">
                <img src="{{ url_for('homepage_bp.static', filename='img/ph3.png')}}" alt="Image 3">
                <div class="textbox">
                    <div class="text">Download your flashcards. They will be compatible with platforms such as
                        Anki!
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>