<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <!--
    <link rel="stylesheet" href="{{ url_for('homepage_bp.static', filename='styles/homepage.css') }}">
    <script src="{{ url_for('homepage_bp.static', filename='js/homepage.js') }}" defer></script>
    -->
    <!--Temporary links-->
    <link rel="stylesheet" href="../static/styles/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <h1><center>DECK BUILDER (insert logo here actually)!</center></h1>
    </div>
    <h2><center>What is DECK BUILDER?</center></h2>
    <div class="description"><p>DECK BUILDER is a brand-new, AI-powered program 
        that can make flashcards from BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH 
        rest of the description HERE</p>
    </div>
    <div class="container">
        <div class="image-container">
            <div class="image-text-wrapper">
                <img src="../static/img/ph1.png" alt="Image 1">
                <p>Upload your photo/text.</p>
                <div class="textbox"><p>Upload a photo, a screenshot, or your own text and let the AI do its magic.</p></div>
            </div>
            <div class="image-text-wrapper">
                <img src="../static/img/ph2.png" alt="Image 2">
                <p>Edit your flashcards.</p>
                <div class="textbox"><p>Edit your returned flashcards or cut those you don't need.</p></div>
            </div>
            <div class="image-text-wrapper">
                <img src="../static/img/ph3.png" alt="Image 3">
                <p>Download your flashcards!</p>
                <div class="textbox"><p>They will be compatible with platforms such as Anki.</p></div>
            </div>
        </div>
    </div>
    
    <div class="button">
        <button>Click here to begin!</button>
    </div>

    <script src="../static/js/homepage.js"></script>
    
</body>

</html>