<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Deck - Deck Builder</title>
    <meta name="description" content="Upload an image and download the Anki questions with answers!">

    <link rel="stylesheet" href="{{ url_for('create_deck_bp.static', filename='styles/create_deck.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">

    <script src="{{ url_for('create_deck_bp.static', filename='js/create_deck.js')}}" defer></script>
</head>

<body>
    <aside class="navbar-wrapper">
        <div class="navbar">
            <a class="navbar-element" hef="{{ url_for('dashboard_bp.dashboard') }}">
                <p class="navbar-elemement-text">Dashboard</p>
            </a>
            <div class="divider"></div>
            <a class="navbar-element" href="{{ url_for('auth_bp.logout') }}">
                <p class="navbar-logout-element-text">Log out</p>
            </a>
        </div>
    </aside>
    <main class="main">
        <div class="page-header">
            <h1>Editor</h1>
            <p>Create your export here.</p>
        </div>
        <div class="page-divider"></div>
        <div class="page-content">
            <h2 class="page-content-header">Select your upload method</h2>
            <div class="select-upload-method-wrapper">
                <div class="select-upload-method selected" id="select-image-upload">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="upload-method-icon">
                        <path fill="none" d="M0 0h24v24H0V0z"></path>
                        <path d="M5 19h14V5H5v14zm4-5.86l2.14 2.58 3-3.87L18 17H6l3-3.86z" opacity=".3"></path>
                        <path
                            d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zm-4.86-7.14l-3 3.86L9 13.14 6 17h12z">
                        </path>
                    </svg>
                    <p class="select-upload-method-text">Upload Image</p>
                </div>
                <div class="select-upload-method" id="select-text-input">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="upload-method-icon">
                        <path
                            d="M22,7.24a1,1,0,0,0-.29-.71L17.47,2.29A1,1,0,0,0,16.76,2a1,1,0,0,0-.71.29L13.22,5.12h0L2.29,16.05a1,1,0,0,0-.29.71V21a1,1,0,0,0,1,1H7.24A1,1,0,0,0,8,21.71L18.87,10.78h0L21.71,8a1.19,1.19,0,0,0,.22-.33,1,1,0,0,0,0-.24.7.7,0,0,0,0-.14ZM6.83,20H4V17.17l9.93-9.93,2.83,2.83ZM18.17,8.66,15.34,5.83l1.42-1.41,2.82,2.82Z">
                        </path>
                    </svg>
                    <p class="select-upload-method-text">Enter text</p>
                </div>
            </div>
            <div class="upload-image-wrapper" id="upload-image-wrapper">
                <input type="file" name="image-input" id="image-input" class="image-input hidden">
                <label for="image-input" class="image-input" id="image-input-label">
                    <span>Click to upload</span>
                    <span class="colored-text">or drag and drop</span>
                </label>
                <div class="image-progress hidden" id="image-progress">
                    <div class="loading-icon-small" id="loading-icon-small"></div>
                    <p class="image-progress-text">Scanning your image for text...</p>
                </div>
                <div class="image-text-result-wrapper hidden" id="image-text-result-section">
                    <p class="image-text-result-heading">Here's what our system detected. Feel free to edit the text
                        before submitting it.</p>
                    <textarea class="image-text-result" id="image-text-result"></textarea>
                    <button class="upload-image-text-submit-button" id="submit-image-text">
                        <span class="submit-button-text" id="submit-button-image-text">Submit text</span>
                        <div class="loading-icon hidden" id="loading-icon-image-text"></div>
                    </button>
                    <p class="chatgpt-error hidden" id="image-text-chatgpt-error"></p>
                </div>
            </div>
            <div class="upload-text-wrapper hidden" id="upload-text-wrapper">
                <textarea name="upload-text-input" id="upload-text-input" class="upload-text-input"
                    placeholder="Enter your text here..."></textarea>
                <button class="upload-text-submit-button" id="submit-text" disabled>
                    <span class="submit-button-text" id="submit-button-text">Submit text</span>
                    <div class="loading-icon hidden" id="loading-icon"></div>
                </button>
                <p class="chatgpt-error hidden" id="text-chatgpt-error"></p>
            </div>
        </div>
    </main>
</body>

</html>